.list-item {
    width: 800px;
    min-height: 100px;
    border: 2px solid #000;
    margin: 10px;
    padding: 10px;
}

.list-item__title {
    font-size: 21px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

.list-item__content {
    display: flex;
    justify-content: space-between;
}

.list-item__text {
    width: 600px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item__btn {
    background-color: transparent;
    border: 1px solid #000;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: all .25s ease;
}

.list-item__btn:hover {
    opacity: .7;
    transform: scale(.9);
}