.main {
    max-width: 100%;
    margin: 30px 30px;
}

.main__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.main__last-element {
    width: 100%;
    height: 20px;
}

.main__page-btn {
    display: flex;
}
